<mat-expansion-panel id="followers">
  <mat-expansion-panel-header>
    <mat-panel-title>Followers</mat-panel-title>
    <mat-panel-description>Followers settings</mat-panel-description>
  </mat-expansion-panel-header>
  <div class="panel-item">
    <p>Enable follow alerts</p>
    <mat-slide-toggle></mat-slide-toggle>
  </div>
  <mat-divider></mat-divider>
  <div class="panel-item">
    <p>Enable followers goal</p>
    <mat-slide-toggle></mat-slide-toggle>
  </div>
  <mat-divider></mat-divider>
  <div class="panel-item">
    <p>Text for the followers goal</p>
    <mat-form-field>
      <input matInput placeholder="Text for the followers goal" />
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <div class="panel-item">
    <p>Steps for the followers goal</p>
  </div>
</mat-expansion-panel>
