#overlay-last-follower {
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 20px !important;
    color: rgba(213, 212, 210, .7);
}
    #last-follower {
        font-size: 24px !important;
        display: inline-block;
    }
#overlay-total-followers {
    margin: 10px auto auto;
    font-size: 20px !important;
    color: rgba(213, 212, 210, .6);
    width: fit-content;
    min-width: 400px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    padding: 0 15px;
}
    #total-followers, #total-followers-text, #total-followers-step {
        display: inline-block;
    }
#new-follower {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    font-size: 80px !important;
    font-weight: 300 !important;
    line-height: 1.2 !important;
    color: rgba(213, 212, 210, 1);
    text-shadow: 0 0 40px rgba(0, 0, 0, 1);
}

.init-in-top {
	animation: slide-in-blurred-top 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
@keyframes slide-in-blurred-top {
    0% {
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform-origin: 50% 0;
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
}
.init-in-left {
	animation: slide-in-blurred-left 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
@keyframes slide-in-blurred-left {
    0% {
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        transform-origin: 100% 50%;
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
}

.slide-in-blurred-tr {
	animation: slide-in-blurred-tr 0.45s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
@keyframes slide-in-blurred-tr {
    0% {
        transform: translate(1000px, -1000px) skew(-80deg, -10deg);
        transform-origin: 0 0;
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0) skew(0deg, 0deg);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
}

.slide-out-blurred-bl {
	animation: slide-out-blurred-bl 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}
@keyframes slide-out-blurred-bl {
    0% {
        transform: translate(0, 0) skew(0deg, 0deg);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
    100% {
        transform: translate(-500px, 500px) skew(-80deg, -10deg);
        transform-origin: 100% 100%;
        filter: blur(40px);
        opacity: 0;
    }
}

.focus-in-expand {
	animation: focus-in-expand 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

.fade-out {
	animation: fade-out 0.4s ease-out both;
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
