<mat-expansion-panel id="settings">
  <mat-expansion-panel-header>
    <mat-panel-title>Settings</mat-panel-title>
    <mat-panel-description>Global settings and login</mat-panel-description>
  </mat-expansion-panel-header>
  <div class="panel-item">
    <p>Disconnect from the application</p>
    <button mat-flat-button color="accent" (click)="onDisconnect()">
      Disconnect
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="panel-item">
    <p>Delete all locally stored values</p>
    <button mat-flat-button color="warn" (click)="onClear()">Clear</button>
  </div>
</mat-expansion-panel>
