@use "@angular/material" as mat;
@include mat.core();
$traskin-stream-alerts-primary: mat.define-palette(mat.$cyan-palette, 400);
$traskin-stream-alerts-accent: mat.define-palette(
  mat.$light-blue-palette,
  A200,
  A100,
  A400
);
$traskin-stream-alerts-warn: mat.define-palette(mat.$red-palette);
$traskin-stream-alerts-theme: mat.define-light-theme(
  (
    color: (
      primary: $traskin-stream-alerts-primary,
      accent: $traskin-stream-alerts-accent,
      warn: $traskin-stream-alerts-warn,
    ),
    typography: mat.define-typography-config(),
    // density: -1,
  )
);
@include mat.all-component-themes($traskin-stream-alerts-theme);

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.mat-expansion-panel {
  margin-bottom: 1rem !important;
}

.panel-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
