.message {
    /* border: 1px solid rgba(255, 255, 255, .2); */
    box-shadow: 0 0 .5rem rgba(255, 255, 255, .05);
    background-color: rgba(255, 255, 255, .1);
    color: rgb(222, 222, 222);
}

.author {
    line-height: 1em;
    vertical-align: middle;
}
.twitch-badge {
    height: 1em;
    width: auto;
    margin: auto 2pt auto 0;
}

.content {
    line-height: 1.25em;
    vertical-align: middle;
}
.emote {
    height: 1.25em;
    width: auto;
}
